<script src='/assets/js/newine.js'></script>
<script src='/assets/js/varieties_index.js'></script>
<div class='container'>
	<div class='row'>
		<div class='col-lg-12'>
			<div class='row'>
				<div class='col-lg-12 col-xs-12 centered'><h2>Movimientos de tarjetas</h2></div>
			</div>
			<div class='row' style='padding-bottom:10px;'>
				<div class='col-lg-12 col-sm-12 col-xs-12 no-padding'>
					<form class='form-horizontal well' action='/tag-movements' method='get'>
						<div class="row">
							<div class="col-md-4">
						  	<div class="form-group">
						  		<label class="col-sm-3 control-label">Usuario</label>
						  		<div class="col-sm-9">
						  			<select class="form-control" name="q[tag_user_id_eq]"> 
						  				<option></option>
						  				<% User.all.each do |user| %>
						  					<option value='<%= user.id %>' <%= "selected" if user.id == @q.tag_user_id_eq %> ><%= user %></option>
						  				<% end %>
						  			</select>
						  		</div>
						  	</div>
						  </div>
							<div class="col-md-4">
							  <div class="form-group">
							    <label class="col-sm-3 control-label">Desde</label>
							    <div class="col-sm-9">
							      <input type="text" class="form-control datetimepicker" name="q[created_at_gteq]" value="<%= @q.created_at_gteq %>">
							    </div>
							  </div>
							</div>
						  <div class="col-md-4">
							  <div class="form-group">
							    <label class="col-sm-3 control-label">Hasta</label>
							    <div class="col-sm-9">
							      <input type="text" class="form-control datetimepicker" name="q[created_at_lteq]" value="<%= @q.created_at_lteq %>">
							    </div>
							  </div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
						    <div class="pull-right">
						    	<a href="<%= url('/tag-movements')%>" class="btn btn-warning">Limpiar</a>
						      <button type="submit" class="btn btn-primary">Buscar</button>
						    </div>
						  </div>
						</div>
					</form>
				</div>
			</div>
			
		</div>
	</div>
	<div class='row'>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Usuario</th>
					<th>Tarjeta</th>
					<th>Monto</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				<% @tag_movements.each do |tag_movement| %>
					<tr>
						<td><%= tag_movement.tag.user %></td>
						<td><%= tag_movement.tag.uid %></td>
						<td><%= tag_movement.credit %></td>
						<td><%= tag_movement.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class='row'>
		<div class='col-lg-12  apple_pagination'>
			<%= will_paginate @tag_movements %>
		</div>
	</div>
</div>