<div class="form-group">
	<label for='special_event[name]' class='col-lg-3 control-label'>Nombre:</label>
	<div class='col-lg-6'>
			<input type='text' name='special_event[name]' class='form-control' value='<%= special_event.name %>' required>
		</div>
	</div>
  <div class="form-group">
		<label for='special_event[type_special_event]' class='col-lg-3 control-label'>Tipo de evento:</label>
		<div class="col-sm-3 no-padding">
			<div class="checkbox">
    		<label>
        		<input type="radio" name='special_event[type_special_event]' value='discount' <%= special_event.type_special_event=='discount' ? 'checked' : '' %>> Descuento
        	</label>
    	</div>
    </div>
    <div class="col-sm-3 no-padding">
		<div class="checkbox">
    		<label>
        		<input type="radio" name='special_event[type_special_event]' value='happy_hour' <%= special_event.type_special_event=='happy_hour' ? 'checked' : '' %>> Happy Hour
        	</label>
    	</div>
    </div>
  </div>
	<div class="form-group">
	<label for='special_event[percentage]' class='col-lg-3 control-label'>Descuento:</label>
	<div class='col-lg-6'>
		<div class="input-group">
      <input type='number' name='special_event[percentage]' min="1" max="100" class='form-control' value='<%= special_event.percentage %>' required>
      <div class="input-group-addon">%</div>
    </div>
			
		</div>
	</div>
	<div class="form-group">
		<label class='col-lg-3 control-label'>Dispensers:</label>
		<div class='col-lg-6'>
			<select classs="form-control" name="special_event[bottle_holder_ids][]" multiple="multiple" required>
				<% Dispenser.all.each do |dispenser| %>
					<optgroup label="<%= "Dispenser #{dispenser.id}"%>">
						<% dispenser.bottle_holders.each do |bh| %>
							<option value="<%= bh.id %>" <%= 'selected' if special_event.bottle_holders.pluck(:id).include? bh.id %>><%= bh.dispenser_index %></option>
						<%end%>
					</optgroup>
				<% end %>
			</select>
		</div>
</div>
<div class="row">
<div class="col-md-6 col-md-offset-3">
	<div class="checkbox">
	  <label>
	    <input type="radio" name='special_event[active]' value="true" <%= special_event.active ? 'checked' : '' %>> Activar
	    <input type="radio" name='special_event[active]' value="false" <%= !special_event.active ? 'checked' : '' %>> Desactivar
	  </label>
	</div>
</div>
</div>