
	<div class="form-group">
  	<label for='user[name]' class='col-lg-3 control-label'>Nombre:</label>
  	<div class='col-lg-6'>
 			<input type='text' name='user[name]' class='form-control' value='<%= user.name %>' required>
 		</div>
  </div>
 	<div class="form-group">
  	<label for='user[surname]' class='col-lg-3 control-label'>Apellido:</label>
  	<div class='col-lg-6'>
 			<input type='text' name='user[surname]' class='form-control' value='<%= user.surname %>'>
 		</div>
 	</div>
 	<div class="form-group">
  	<label for='user[membership_number]' class='col-lg-3 control-label'>Nro de socio:</label>
  	<div class='col-lg-6'>
 			<input type='text' name='user[membership_number]' class='form-control' value='<%= user.membership_number %>'>
 		</div>
 	</div>
 	<div class="form-group">
  	<label for='user[dni]' class='col-lg-3 control-label'>DNI:</label>
  	<div class='col-lg-6'>
 			<input type='text' name='user[dni]' class='form-control' value='<%= user.dni %>'>
 		</div>
 	</div>
 	<div class="form-group">
  	<label for='user[email]' class='col-lg-3 control-label'>Email:</label>
  	<div class='col-lg-6'>
 			<input type='email' name='user[email]' class='form-control' value='<%= user.email %>'>
 		</div>
 	</div>
 	<div class="form-group">
  	<label for='user[phone]' class='col-lg-3 control-label'>Teléfono:</label>
  	<div class='col-lg-6'>
 			<input type='text' name='user[phone]' class='form-control' value='<%= user.phone %>'>
 		</div>
 	</div>
  <div class="form-group">
		<div class="col-sm-3 no-padding">
			<div class="checkbox">
	    		<label>
	        		<input type="radio" name='user[permissions]' value='customer' <%= user.client_type=='customer' ? 'checked' : '' %>> Cliente
	        	</label>
	    	</div>
	    </div>
	    <div class="col-sm-3 no-padding">
			<div class="checkbox">
	    		<label>
	        		<input type="radio" name='user[permissions]' value='employee' <%= user.client_type=='employee' ? 'checked' : '' %>> Staff
	        	</label>
	    	</div>
	    </div>
	    <div class="col-sm-3 no-padding">
			<div class="checkbox">
	    		<label>
	        		<input type="radio" name='user[permissions]' value='manager' <%= user.client_type=='manager' ? 'checked' : '' %>> Gerente
	        	</label>
	    	</div>
	    </div>
	</div>
	<div class="form-group category-group" <%= "style='display:none'" if user.client_type != 'customer' %>>
		<label  class='col-lg-3 control-label'>Categoría:</label>
  	<div class='col-lg-6'>
			<select class="form-control" name="user[category_id]">
				<option></option>
				<% Category.all.each do |category| %>
					<option value="<%= category.id %>" <%= "selected" if category.id == user.category.try(:id) %>><%= category.name %></option>
				<% end %>
			</select>
		</div>
	</div>
