
<script src='/assets/js/newine.js'></script>
<script src='/assets/js/users_index.js'></script>
<div class='container'>
	<div class='row'>
		<div class='col-lg-4'>
			<h2>Clientes</h2>
			<div class='row' style='padding-bottom:10px;'>
				<div class='col-lg-10 col-offset-2'>
					<form class='form-search form-inline' action='/users' method='get'>
						<div class='col-lg-8'>
							<input type='search' name='q' class='form-control input-sm' value=<%= params[:q]%>>
						</div>
						<div class='col-lg-3'>
							<button class='btn btn-search'>Buscar</button>
						</div>
					</form>
				</div>
			</div>
			
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-4'>
			<div class='row'>
				<div class='col-lg-10 col-offset-2 apple_pagination'>
					<%= will_paginate @users %>
				</div>
			</div>
			<div class='row'>

				<div id='users-container'>
					<% @users.each do |user| %>
						<div class='row'>
							<div class='col-lg-10 col-offset-2'>
								
								<div class='panel panel-default panel-link user-link' data-id=<%= user.id.to_s %>>
									<div class='panel-body'>
										
											<img src='/assets/img/user-icon.png' width=40 height=40 />
										
											<span style="padding-left:10px;">									
												<strong><%= user.id %>:</strong> <%= user.name %> <%= user.surname %>										
											</span>						
									</div>
								</div>
							
							</div>
						</div>
					<% end %>

				</div>
			</div>
		</div>
		<div class='col-lg-8'>
			
			<div id='user-details-container'>
					<% @users.each do |user| %>
						<div class='row user-data hidden' data-user-id=<%= user.id.to_s %>>
							<div class='col-lg-10 col-offset-2'>
								
								<div class='panel panel-default' style='min-height: 300px;'>
									<div class='panel-body'>
										
										
											<span style="padding-left:10px;">									
												<strong><%= user.id %>:</strong> <%= user.name %> <%= user.surname %>
												<a class='edit_user btn btn-warning pull-right' data-user-id=<%= user.id.to_s %>>Editar</a>
											</span>
											<hr />
											<div class='user_info' data-user-id=<%= user.id.to_s %>>
												<p style="padding-left:10px;">									
													<strong>DNI:</strong> <%= user.dni %>
												</p>
												<br />
												<p style="padding-left:10px;">									
													<strong>Email:</strong> <%= user.email %>
												</p>
												<br />
												<p style="padding-left:10px;">									
													<strong>Teléfono:</strong> <%= user.phone %>
												</p>
												<br />
												<p style="padding-left:10px;">									
													<strong>Tipo:</strong> <%= user.client_type_human %>
												</p>
												<br />
											</div>
											<form style='padding-bottom:20px;' class='form-horizontal user_edit_form hidden' data-user-id=<%= user.id.to_s %> action='/users/edit/<%= user.id.to_s %>' method='post'>
												<div class="form-group">
						            				<label for='user[name]' class='col-lg-3 control-label'>Nombre:</label>
									            	<div class='col-lg-6'>
									           			<input type='text' name='user[name]' class='form-control' value='<%= user.name %>'>
									           		</div>
									           	</div>
									           	<div class="form-group">
									            	<label for='user[surname]' class='col-lg-3 control-label'>Apellido:</label>
									            	<div class='col-lg-6'>
									           			<input type='text' name='user[surname]' class='form-control' value='<%= user.surname %>'>
									           		</div>
									           	</div>
									           	<div class="form-group">
									            	<label for='user[dni]' class='col-lg-3 control-label'>DNI:</label>
									            	<div class='col-lg-6'>
									           			<input type='text' name='user[dni]' class='form-control' value='<%= user.dni %>'>
									           		</div>
									           	</div>
									           	<div class="form-group">
									            	<label for='user[email]' class='col-lg-3 control-label'>Email:</label>
									            	<div class='col-lg-6'>
									           			<input type='text' name='user[email]' class='form-control' value='<%= user.email %>'>
									           		</div>
									           	</div>
									           	<div class="form-group">
									            	<label for='user[phone]' class='col-lg-3 control-label'>Teléfono:</label>
									            	<div class='col-lg-6'>
									           			<input type='text' name='user[phone]' class='form-control' value='<%= user.phone %>'>
									           		</div>
									           	</div>
									           	<div class="form-group">
													<div class="col-sm-3">
														<div class="checkbox">
												    		<label>
												        		<input type="radio" name='user[permissions]' value='customer' <%= user.client_type=='customer' ? 'checked' : '' %>> Cliente
												        	</label>
												    	</div>
												    </div>
												    <div class="col-sm-3">
														<div class="checkbox">
												    		<label>
												        		<input type="radio" name='user[permissions]' value='superclient' <%= user.client_type=='superclient' ? 'checked' : '' %>> SuperCliente
												        	</label>
												    	</div>
												    </div>
												    <div class="col-sm-3">
														<div class="checkbox">
												    		<label>
												        		<input type="radio" name='user[permissions]' value='employee' <%= user.client_type=='employee' ? 'checked' : '' %>> Empleado
												        	</label>
												    	</div>
												    </div>
												    <div class="col-sm-3">
														<div class="checkbox">
												    		<label>
												        		<input type="radio" name='user[permissions]' value='manager' <%= user.client_type=='manager' ? 'checked' : '' %>> Gerente
												        	</label>
												    	</div>
												    </div>
												</div>
									           	<div class='col-lg-offset-3'>
													<button class='btn btn-primary'>Guardar</button>
													<a class='btn btn-default cancel_edit'>Cancelar</a>
												</div>
											</form>
											<% user.tags.each do |tag| %>
												<div class='panel panel-default tag-panel' data-tag-id=<%= tag.id %>>
													<div class='panel-body'>
														<p style="padding:10px;">									
															<strong>Tarjeta:</strong> <%= tag.uid %>, crédito: $<%= tag.credit.to_s %>
														</p>
														<a data-tag-id=<%= tag.id %> class='format_tag btn btn-danger btn-sm pull-right'><span class='glyphicon glyphicon-warning-sign'></span> Formatear</a>
														<form class='form-horizontal'>
															<div class="form-group">
												            	<label for='credit' class='col-lg-3 control-label'>Recarga:</label>
												            	<div class='col-lg-4'>
												            		<input type='number' name='credit' class='form-control credit_to_add' data-tag-id=<%= tag.id %>>
												            	</div>
												            	<a data-tag-id=<%= tag.id %> data-tag-uid=<%= tag.uid %> class='btn btn-success btn-med add_credit'><span class='glyphicon glyphicon-plus'></span></a>
												            </div>
												        </form>

													</div>
												</div>
												<br />
											<% end %>

									</div>
								</div>
							
							</div>
						</div>
					<% end %>

				</div>
		</div>
	</div>
</div>
