<script src='/assets/js/newine.js'></script>
<script src='/assets/js/users_index.js'></script>
<div class='container'>
	<div class='row'>
		<div class='col-lg-12'>
			<h2 class='centered'>Clientes</h2>
			<div class='row' style='padding-bottom:10px;'>
				<div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1'>
					<form class='form-search form-inline' action='/users' method='get'>
						<div class='col-lg-10 col-xs-10'>
							<select name='q[id_eq]' class="form-control input-sm search_users">
								<% if @q.id_eq %>
			  					<option value="<%= @q.id_eq%>"><%= selected_user(@q.id_eq)%></option>
			  				<% end %>
							</select>
						</div>
						<div class='col-lg-2 col-xs-2'>
							<button class='btn btn-search'>Buscar</button>
						</div>
					</form>
				</div>
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createUser">Crear cliente</button>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-12'>
			<div class='row'>
				<div class='col-lg-10 col-lg-offset-1 apple_pagination'>
					<%= will_paginate @users %>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6 col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0'>
					<div id='users-container' class='col-lg-12'>
					<% @users.each do |user| %>
						<div class='row'>
							<div class='col-lg-12'>
								
								<div class='panel panel-default panel-link user-link' data-id=<%= user.id.to_s %>>
									<div class='panel-body'>
											<img src='/assets/img/user-icon.png' width=40 height=40 />
											<span style="padding-left:10px;">
												<strong><%= user.name %> <%= user.surname %></strong>
											</span>
									</div>
								</div>
							
							</div>
						</div>
					<% end %>

				</div>
				</div>
				<div class='col-lg-6 col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0'>
					<div class='col-xs-12'>
						<div id='user-details-container'>
								<% @users.each do |user| %>
									<div class='row user-data hidden' data-user-id=<%= user.id.to_s %>>
										<div class='col-xs-12'>
											<div class='panel panel-default' style='min-height: 300px;'>
												<div class='panel-body'>
														<span style="padding-left:10px;">
															<strong><%= user.name %> <%= user.surname %></strong>
															<div class="pull-right">
																<a class='edit_user btn btn-warning ' data-user-id=<%= user.id.to_s %>>Editar</a>
																<a class="delete btn btn-danger" data-delete="<%= url('/users/destroy/'+user.id.to_s) %>"> Eliminar</a>
															</div>
														</span>
														<hr />
														<div class='user_info' data-user-id=<%= user.id.to_s %>>
															<p style="padding-left:10px;">
																<strong>Nro de socio:</strong> <%= user.membership_number %>
															</p>
															<br />
															<p style="padding-left:10px;">
																<strong>DNI:</strong> <%= user.dni %>
															</p>
															<br />
															<p style="padding-left:10px;">
																<strong>Email:</strong> <%= user.email %>
															</p>
															<br />
															<p style="padding-left:10px;">
																<strong>Teléfono:</strong> <%= user.phone %>
															</p>
															<br />
															<p style="padding-left:10px;">
																<strong>Categoría:</strong> <%= user.category %>
															</p>
															<br />
														</div>
														<form style='padding-bottom:20px;' class='form-horizontal user_edit_form hidden' data-user-id=<%= user.id.to_s %> action='/users/edit/<%= user.id.to_s %>' method='post'>
															<%= erb :"users/form", locals: {user: user} %>
														  <div class='col-lg-offset-3'>
																<button class='btn btn-primary'>Guardar</button>
																<a class='btn btn-default cancel_edit'>Cancelar</a>
															</div>
														</form>
														<br>
														<% user.tags.reverse.each do |tag| %>
															<div class='panel panel-default tag-panel panel-tag' data-tag-id=<%= tag.id %>>
																<div class='panel-body'>
																	<div class='row'>
																		<div class='col-xs-12'>
																			<div class="pull-right">
													            	<a data-tag-id=<%= tag.id %> class='format_tag btn btn-danger btn-sm'><span class='glyphicon glyphicon-warning-sign'></span> Eliminar</a>
													            </div>
													          </div>
																	</div>
																	<div class='row'>
																		<div class='col-lg-12 col-xs-12'>
																			<p><strong>Crédito:</strong> $<%= tag.credit.to_s %></p>
													          </div>
																	</div>
																	<div class='row'>
																		<div class='col-lg-12 col-xs-12'>
																			<p><strong>Fecha vencimiento: </strong><%= tag.due_date %></p>
													          </div>
																	</div>
																	<div class='row'>
																		<div class='col-lg-12 col-xs-12'>
																			<p><strong>Activa:</strong> <%= boolean_humanize tag.active? %></p>
													          </div>
																	</div>
																	<% if tag.active? %>
																	<div class='row'>
																		<form class='form-horizontal'>
																		<div class="form-group">
																			<div class='col-lg-3 col-sm-3 col-xs-12'>
																				<p><label  for='credit' class='col-lg-3 col-sm-3 col-xs-12 control-label'>Recarga:</label></p>
																			</div>
												            	
												            	<div class='col-lg-4 col-sm-4 col-xs-8'>
												            		<input type='number' name='credit' class='form-control credit_to_add' data-tag-id=<%= tag.id %>>
												            	</div>
												            	<div class='col-lg-3 col-sm-3 col-xs-2'>
												            		<a href="#" data-tag-id=<%= tag.id %> data-tag-uid=<%= tag.uid %> class="btn btn-success btn-sm add_credit"><span class="glyphicon glyphicon-plus"></span></a>
												            	</div>
												            	
															      </div>
															    </form>
																	</div>
																	<% end %>
																</div>
															</div>
															<br />
														<% end %>

												</div>
											</div>
										
										</div>
									</div>
								<% end %>

							</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="createUser">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action='/users' method='post' class='form-horizontal'>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Nuevo cliente</h4>
				</div>
				<div class="modal-body">
					<div class='row'>
						<div class='col-lg-12'>
							<%= erb :"users/form", locals: {user: User.new} %>
						</div>
					</div>
				</div>		
				<div class='modal-footer'>
					<a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
          <button class='btn btn-primary'>Crear</button>
				</div>
			</form>
		</div>
	</div>
</div>
<%= erb :"_nfc_modal" %>
