<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Por Dispenser">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Dispenser</Data></Cell>
        <Cell><Data ss:Type="String">Ventas</Data></Cell>
        <Cell><Data ss:Type="String">Ventas ($)</Data></Cell>
      </Row>
      <% Dispenser.find_each do |dispenser| %>
      <Row>
          <Cell><Data ss:Type="String"><%= dispenser.id.to_s %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= Serving.where('created_at > ?', @stat_time).get_stat(:total_count,:dispenser_id => dispenser.id).to_s %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= Serving.where('created_at > ?', @stat_time).get_stat(:money,:dispenser_id => dispenser.id).round(2).to_s %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Por Vino">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Vino</Data></Cell>
        <Cell><Data ss:Type="String">Ventas</Data></Cell>
        <Cell><Data ss:Type="String">Ventas ($)</Data></Cell>
      </Row>
      <% Wine.find_each do |wine| %>
      <Row>
          <Cell><Data ss:Type="String"><%= wine.name.to_s %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= Serving.where('created_at > ?', @stat_time).get_stat(:total_count,:wine_id => wine.id).to_s %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= Serving.where('created_at > ?', @stat_time).get_stat(:money,:wine_id => wine.id).round(2).to_s %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Lista">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Fecha</Data></Cell>
        <Cell><Data ss:Type="String">Vino</Data></Cell>
        <Cell><Data ss:Type="String">Variedad</Data></Cell>
        <Cell><Data ss:Type="String">Año</Data></Cell>
        <Cell><Data ss:Type="String">Usuario</Data></Cell>
        <Cell><Data ss:Type="String">Tag</Data></Cell>
        <Cell><Data ss:Type="String">Dispenser</Data></Cell>
        <Cell><Data ss:Type="String">Posicion</Data></Cell>
        <Cell><Data ss:Type="String">Precio</Data></Cell>
        <Cell><Data ss:Type="String">Credito Restante</Data></Cell>
      </Row>
      <% Serving.find_each do |serving| %>
      <Row>
          <Cell><Data ss:Type="String"><%= serving.created_at.to_s %></Data></Cell>
          <Cell><Data ss:Type="String"><%= serving.wine.name.to_s %></Data></Cell>
          <Cell><Data ss:Type="String"><%= serving.wine.variety.to_s %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= serving.wine.vintage.to_s %></Data></Cell>
          <Cell><Data ss:Type="String"><%= serving.user.name.to_s %></Data></Cell>
          <Cell><Data ss:Type="String"><%= serving.uid.to_s %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= serving.dispenser_id.to_s %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= serving.bottle_index.to_s %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= serving.price.to_s %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= serving.remaining_credit.to_s %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>