<script src='/assets/js/newine.js'></script>
<script src='/assets/js/raphael/raphael.js'></script>
<script src='/assets/js/raphael/g.raphael.js'></script>
<script src='/assets/js/raphael/g.pie.js'></script>
<script src='/assets/js/servings_index.js'></script>
<div class='container'>
	<%= erb :"servings/menu" %>
	<div class='row'>
		<div class='col-lg-12 centered'>
			<br>
				<form class="form-horizontal well">
				  <div class="row">
					  <div class="col-md-6">
					  	<div class="form-group">
					  		<label class="col-sm-3 control-label">Dispenser</label>
					  		<div class="col-sm-9">
					  			<select class="form-control" name="q[dispenser_id_eq]"> 
					  				<option></option>
					  				<% Dispenser.all.each do |dispenser| %>
					  					<option value='<%= dispenser.id %>' <%= "selected" if dispenser.id == @q.dispenser_id_eq %>><%= dispenser.name %></option>
					  				<% end %>
					  			</select>
					  		</div>
					  	</div>
					  </div>
					  <div class="col-md-6">
					  	<div class="form-group">
					  		<label class="col-sm-3 control-label">Vino</label>
					  		<div class="col-sm-9">
					  			<select class="form-control" name="q[wine_id_eq]"> 
					  				<option></option>
					  				<% Wine.all.each do |wine| %>
					  					<option value='<%= wine.id %>' <%= "selected" if wine.id == @q.wine_id_eq %> ><%= wine %></option>
					  				<% end %>
					  			</select>
					  		</div>
					  	</div>
					  </div>
					  <div class="col-md-6">
						  <div class="form-group">
						    <label class="col-sm-3 control-label">Desde</label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control datetimepicker" name="q[created_at_gteq]" value="<%= @q.created_at_gteq %>">
						    </div>
						  </div>
						</div>
					  <div class="col-md-6">
						  <div class="form-group">
						    <label class="col-sm-3 control-label">Hasta</label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control datetimepicker" name="q[created_at_lteq]" value="<%= @q.created_at_lteq %>">
						    </div>
						  </div>
						</div>
					  <div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-3">Cliente Categoría</label>
								<div class="col-sm-9">
									<select class="form-control" name="q[user_category_id_eq]">
										<option value=""></option>
										<% Category.all.each do |category| %>
											<option value="<%= category.id %>" <%= "selected" if category.id == @q.user_category_id_eq%>><%= category.name %></option>
										<% end %>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
					    <div class="pull-right">
					    	<a href="<%= url('/servings')%>" class="btn btn-warning">Limpiar</a>
					      <button type="submit" class="btn btn-primary">Buscar</button>
					    </div>
					  </div>
					</div>
				</form>
			</div>
	</div>
	<div class='row'>
		<div id="total_money" class='hidden'><%= @money_total.to_s %></div>
		<div class='col-lg-5'>
			<h4 class='centered'>Por dispenser:</h4>
			<div class='row'>
				<div id='dispensers-stat-holder'></div>
			</div>
			<div class='row'>
				<div class='col-lg-12'>
					<table class='table table-striped' style='max-height: 500px;overflow-y:scroll;'>
					<thead>
						<tr>
							<th class='col-lg-4'>Dispenser</th>
							<th class='col-lg-4'>Ventas</th>
							<th class='col-lg-4'>Total $</th>
						</tr>
					</thead>
					<tbody>
						<% Dispenser.find_each do |dispenser| %>
							<tr class='dispenser-pie-row'>
								<td class='dispenser-name'><%= dispenser.id.to_s %></td>
								<td><%= @servings.get_stat(:total_count,:dispenser_id => dispenser.id).to_s %></td>
								<td class='dispenser-money-count'><%= @servings.get_stat(:money,:dispenser_id => dispenser.id).round(2).to_s %></td>
							</tr>
						<% end %>
					</tbody>
					</table>
				</div>
			</div>
			
		</div>
		<div class='col-lg-6 col-lg-offset-1'>
			<h4 class='centered'>Por vino:</h4>
			<div class='row'>
				<div id='wines-stat-holder'></div>
			</div>
			<div class='row'>
				<div class='col-lg-12'>
					<table class='table table-striped' id='wine-stats-table' style='max-height: 500px;overflow-y:scroll;'>
					<thead>
						<tr>
							<th class='col-lg-8'>Vino</th>
							<th class='col-lg-2'>Ventas</th>
							<th class='col-lg-2'>Total $</th>
						</tr>
					</thead>
					<tbody>
						<% Wine.find_each do |wine| %>
							<tr class='wine-pie-row'>
								<td class='wine-name'><%= wine.name + ' ' + wine.variety.to_s + ' ' + wine.vintage.to_s %></td>
								<td><%= @servings.get_stat(:total_count,:wine_id => wine.id).to_s %></td>
								<td class='wine-money-count'><%= @servings.get_stat(:money,:wine_id => wine.id).round(2).to_s %></td>
							</tr>
						<% end %>
					</tbody>
					</table>
				</div>
			</div>
			
		</div>

	</div>
</div>