<div class="container">
	<%= erb :"servings/menu" %>
	<div class="row">
		<div class="col-lg-12">
			<%= erb :"servings/search_user"%>
		</div>
		<div class='col-lg-12'>
			<div class='row'>
				<div class='col-lg-12'>
					<table class='table table-striped' style='max-height: 500px;overflow-y:scroll;'>
					<thead>
						<tr>
							<th>Usuario</th>
							<th>Fecha</th>
							<th>Vino</th>
							<th>ML</th>
							<th>Precio</th>
							<th>Costo</th>
							<th>Ganancia</th>
						</tr>
					</thead>
					<tbody>
						<% @servings.all.each do |serving| %>
							<tr>
								<td><%= serving.user %></td>
								<td><%= serving.created_at.strftime("%d/%m/%Y")%></td>
								<td><%= serving.wine %></td>
								<td><%= serving.volume %> ml</td>
								<td>$ <%= serving.price %></td>
								<td>$ <%= serving.cost %></td>
								<td>$ <%= (serving.price - serving.cost) %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-10 col-lg-offset-1 apple_pagination'>
			<%= will_paginate @servings %>
		</div>
	</div>
</div>
