<div class='row'>
	<div class="form-group">
        	<label for='wine[name]' class='col-lg-3 control-label'>Nombre</label>
        	<div class='col-lg-6'>
        		<input type='text' name='wine[name]' class='form-control' value='<%= wine.name %>' required>
        	</div>
        </div>
	<div class="form-group">
        	<label for='wine[variety]' class='col-lg-3 control-label'>Tipo/Variedad</label>
            <div class='col-lg-6'>
                <select class="form-control select_variety select2" name="wine[variety_id]" required>
                    <option></option>
                    <% Variety.order('name ASC').all.each do |variety| %>
                        <option value="<%= variety.id %>" <%= "selected" if variety.id == wine.variety.try(:id) %>><%= variety.name %></option>
                    <% end %>
                </select>
            </div>
            <a href="#" class="btn btn-primary add-variety"><span class='glyphicon glyphicon-plus'></span></a>
        </div>
        <div class="form-group">
        	<label for='wine[brand]' class='col-lg-3 control-label'>Bodega/Marca</label>
        	<div class='col-lg-6'>
        		<select class="form-control select_brand select2" name="wine[brand_id]" required>
                    <option></option>
                    <% Brand.order('name ASC').all.each do |brand| %>
                        <option value="<%= brand.id %>" <%= "selected" if brand.id == wine.brand.try(:id) %>><%= brand.name %></option>
                    <% end %>
                </select>
        	</div>
            <a href="#" class="btn btn-primary add-brand"><span class='glyphicon glyphicon-plus'></span></a>
        </div>
        <div class="form-group">
        	<label for='wine[vintage]' class='col-lg-3 control-label'>Año</label>
        	<div class='col-lg-3'>
        		<input type='number' name='wine[vintage]' class='form-control' step=1 value=<%= wine.vintage %> required>
        	</div>
        </div>
        <div class="form-group">
        	<label for='wine[volume]' class='col-lg-3 control-label'>Volumen</label>
        	<div class='col-lg-3'>
        		<input type='number' name='wine[volume]' class='form-control' step=1 value=<%= wine.volume %> required>
        	</div>
        	<label class='col-lg-1' style='margin-top:5px;'>ml</label>
        </div>
         <div class="form-group">
            <label for='wine[bottle_cost]' class='col-lg-3 control-label'>Costo botella $</label>
            <div class='col-lg-3'>
                <input type='number' name='wine[bottle_cost]' class='form-control' step=any value=<%= wine.bottle_cost %> required>
            </div>
        
        </div>
         <div class="form-group">
        	<label for='wine[bottle_cost]' class='col-lg-3 control-label'>Precio botella $</label>
        	<div class='col-lg-3'>
        		<input type='number' name='wine[bottle_price]' class='form-control' step=any value=<%= wine.bottle_price %> required>
        	</div>
        
        </div>
         <div class="form-group">
        	<label for='wine[bottle_cost]' class='col-lg-3 control-label'>Botella abierta (d&iacute;as)</label>
        	<div class='col-lg-3'>
        		<input type='number' name='wine[open_days]' class='form-control' step=any value=<%= wine.open_days %> required>
        	</div>
        
        </div>
        <div class="form-group">
        	<label for='wine[tasting_notes]' class='col-lg-3 control-label'>Notas</label>
        	<div class='col-lg-6'>
        		<textarea name='wine[tasting_notes]' class='form-control'><%= wine.tasting_notes %></textarea>
        	</div>
        </div>
    </div>
    
    <div class='row'>
	<div class='col-lg-6 col-lg-offset-3' style='padding-left: 5px; padding-right: 5px;'>

		<div class='row' style='margin-top:20px;'>
			<div class='col-md-6 col-xs-6'>
				<label>ml</label><input type="number" min="1" max="1000" name="wine[serving_volume_low]" class='form-control serving_volume_low' value=<%= wine.serving_volume_low %> required>
			</div>
			<div class='col-md-6 col-xs-6'>
				<label>$</label><input type="number" name='wine[serving_price_low]' class='form-control' value=<%= wine.serving_price_low %> required>
			</div>
		</div>
		<div class='row' style='margin-top:20px;'>
			<div class='col-md-6 col-xs-6'>
				<label>ml</label><input type="number" name="wine[serving_volume_med]" class='form-control serving_volume_med' value=<%= wine.serving_volume_med %> required>
			</div>
			<div class='col-md-6 col-xs-6'>
				<label>$</label><input type="number" name='wine[serving_price_med]' class='form-control' value=<%= wine.serving_price_med %> required>
			</div>
		</div>
		<div class='row' style='margin-top:20px;'>
			<div class='col-md-6 col-xs-6'>
				<label>ml</label><input type="number" name="wine[serving_volume_high]" class='form-control serving_volume_high' value=<%= wine.serving_volume_high %> required>
			</div>
			<div class='col-md-6 col-xs-6'>
				<label>$</label><input type="number" name='wine[serving_price_high]' class='form-control' value=<%= wine.serving_price_high %> required>
			</div>
		</div>
	</div>
</div>
