<script type="text/template" id='wines-template'>
	<div class='row'>
		<div class='col-lg-10 col-offset-2'>
			<a href="/wines/{{id}}" class=''>
				<div class='panel panel-default panel-link'>
					<div class='panel-body'>
						
							<img src='/assets/img/bottle-icon.png' width=50 height=50 />
						
							<span style="padding-left:10px;">
								<strong>{{name}}</strong>  - {{variety}} - {{vintage}}
							</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</script>
<script src='/assets/js/newine.js'></script>
<script src='/assets/js/wines_index.js'></script>
<div class='container'>
	<div class='row'>
		<div class='col-lg-12'>
			<div class='row'>
				<div class='col-lg-12 col-xs-12 centered'><h2>Vinos</h2></div>
			</div>
			<div class='row'>
				<div class='col-lg-12 col-xs-12 new-dispenser-button centered' style='vertical-align:middle;margin-top:20px;'>
					<a class='btn btn-success' id='new_wine_btn'>Nuevo Vino</a>
				</div>
			</div>
			<div class='row' style='padding-bottom:10px;'>
				<div class='col-lg-12 col-sm-12 col-xs-12 no-padding'>
					<form class='form-horizontal well' action='/wines' method='get'>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
					  			<label class="col-sm-3 control-label">Nombre</label>
					  			<div class="col-sm-9">
										<input type="text" name="q[name_cont]" class="form-control" value="<%= @q.name_cont %>">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
					  			<label class="col-sm-3 control-label">Bodega</label>
					  			<div class="col-sm-9">
										<select class="form-control select_brand" name="q[brand_id_eq]">
											<option value=""></option>
											<% Brand.all.each do |brand| %>
												<option value="<%= brand.id %>" <%= "selected" if brand.id == @q.brand_id_eq%>><%= brand.name %></option>
											<% end %>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
					  			<label class="col-sm-3 control-label">Variedad</label>
					  			<div class="col-sm-9">
										<select class="form-control" name="q[variety_id_eq]">
											<option value=""></option>
											<% Variety.all.each do |variety| %>
												<option value="<%= variety.id %>" <%= "selected" if variety.id == @q.variety_id_eq%>><%= variety.name %></option>
											<% end %>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<div class="pull-right">
						    	<a href="<%= url('/wines')%>" class="btn btn-warning">Limpiar</a>
						      <button type="submit" class="btn btn-primary">Buscar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-4 col-md-4 col-sm-12'>
			<div class='row'>
				<div class='col-lg-12  apple_pagination'>
					<%= will_paginate @wines %>
				</div>
			</div>
			<div class='row'>

				<div id='wines-container'>
					<% @wines.each do |wine| %>
						<div class='row'>
							<div class='col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1'>
								
								<div class='panel panel-default panel-link wine-link' data-id=<%= wine.id.to_s %>>
									<div class='panel-body'>
										
										<img src='/assets/img/bottle-icon.png' width=40 height=40 />
									
										<span style="padding-left:10px;">									
											<strong><%= wine.name %></strong> - <%= wine.variety %> (<%= wine.vintage %>)									
										</span>						
									</div>
								</div>
							
							</div>
						</div>
					<% end %>

				</div>
			</div>
		</div>
		<div class='col-lg-offset-1 col-lg-7 col-md-offset-1 col-md-7 col-sm-12 col-xs-12'>
			
			<div id='wine-details-container'>
					<% @wines.each do |wine| %>
						<div class='row wine-data hidden' data-wine-id=<%= wine.id.to_s %>>
							<div class='col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 no-padding'>
								
								<div class='panel panel-default' style='min-height: 300px;'>
									<div class='panel-body' style='margin:10px;'>
											
											<div class='row'>
										
												<span style="padding-left:10px;">									
													<strong><%= wine.name %></strong> - <%= wine.variety %> (<%= wine.vintage %>)
													<div class="pull-right">
														<a class='edit_wine btn btn-warning' data-wine-id=<%= wine.id.to_s %>>Editar</a>
														<% if wine.bottle_holders.empty? %>
															<a class="delete btn btn-danger" data-delete="<%= url('wines/destroy/'+wine.id.to_s)%>">Eliminar</a>
														<% end %>
													</div>
												</span>
												<hr />
												<div class='wine_info' data-wine-id=<%= wine.id.to_s %>>
													<p style="padding-left:10px;">									
														<strong>Bodega/Marca:</strong> <%= wine.try(:brand) %>
													</p>
													<br />
													<p style="padding-left:10px;">									
														<strong>Variedad:</strong> <%= wine.variety %>
													</p>
													<br />
													<p style="padding-left:10px;">									
														<strong>Volumen:</strong> <%= wine.volume.to_s %> ml
													</p>
													<br />
													<p style="padding-left:10px;">									
														<strong>Costo botella:</strong> $<%= wine.bottle_cost.to_s %>
													</p>
													<br />
													<p style="padding-left:10px;">									
														<strong>Precio botella:</strong> $<%= wine.bottle_price.to_s %>
													</p>
													<br />
													<p style="padding-left:10px;">									
														<strong>Botella abierta (d&iacute;as):</strong> <%= wine.open_days %>
													</p>
													<br />
									
													<p style="padding-left:10px;">									
													 <%= wine.tasting_notes %>
													</p>
													<br />				


												</div>
											</div>
											<div class='row'>
												<div class='col-lg-6 col-lg-offset-3' style='padding-left: 5px; padding-right: 5px;'>
													<table class='table table-striped wine_info' data-wine-id=<%= wine.id.to_s %>>
														<thead>
															<tr>
																<th>Medida (ml)</th>
																<th>Precio ($)</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td><%= wine.serving_volume_low %></td>
																<td><%= wine.serving_price_low %></td>
															</tr>
															<tr>
																<td><%= wine.serving_volume_med %></td>
																<td><%= wine.serving_price_med %></td>
															</tr>
															<tr>
																<td><%= wine.serving_volume_high %></td>
																<td><%= wine.serving_price_high %></td>
															</tr>

														</tbody>
													</table>
													
												</div>
											</div>
											
											<form style='padding-bottom:20px;' class='form-horizontal wine_edit_form hidden' data-wine-id=<%= wine.id.to_s %> action='/wines/edit/<%= wine.id.to_s %>' method='post'>
													<%= erb :"wines/form", locals: {wine: wine} %>
									        <div class='col-lg-offset-3' style='padding-top:20px;'>
														<button class='btn btn-primary'>Guardar</button>
														<a class='btn btn-default cancel_edit'>Cancelar</a>
													</div>
											</form>
											

									</div>
								</div>
							
							</div>
						</div>
					<% end %>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="new-wine-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action='/wines' method='post' class='form-horizontal'>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Nuevo Vino</h4>
				</div>
				<div class="modal-body">
					<%= erb :"wines/form", locals: {wine: Wine.new} %>
				</div>

				<div class='modal-footer'>
					<a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
          			<button class='btn btn-primary'>Crear</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="new_variety_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action='/variety.json' method='post' class='form-horizontal' id="form_variety">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Nueva variedad</h4>
                </div>
                <div class="modal-body">
                	<div class="form-group">
        						<label for='variety[name]' class='col-lg-3 control-label'>Nombre</label>
					        	<div class='col-lg-6'>
                    	<input type="text" class='form-control' name="variety[name]" required/>
					        	</div>
        					</div>
                </div>

                <div class='modal-footer'>
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                    <button class='btn btn-primary'>Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="new_brand_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action='/brands' method='post' class='form-horizontal' id="form_brand">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Nueva Bodega/Marca</h4>
                </div>
                <div class="modal-body">
                	<div class="form-group">
        						<label for='brand[name]' class='col-lg-3 control-label'>Nombre</label>
					        	<div class='col-lg-6'>
                    	<input type="text" class='form-control' name="brand[name]" required/>
					        	</div>
        					</div>
                </div>

                <div class='modal-footer'>
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                    <button class='btn btn-primary'>Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%= erb :"_nfc_modal" %>
