<script type="text/template" id='dispensers-template'>
	<div class='row'>
		<div class='col-md-10 col-offset-2'>
			<div class='panel panel-default'>
				<div class='panel-body'>
					
						<img src='/assets/img/dispenser-icon.png' width=50 height=50 />
					
						<span style="padding-left:10px;">									
							<strong>{{id}}:</strong> {{uid}}										
						</span>				
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id='bottle-holders-template'>
	
		<div style='<%= @dispenser.n_bottles == 4 ?  'width:19%' : 'width:10%' %>' class='col-xs-1'>	
			<div class='row'>
				<div class='col-xs-12 no-padding bottle' data-id={{id}}>
					<div class="volume-outer volume-outer-{{n_bottles}} hover-grow bottle-index-{{dispenser_index}}">
						<img class='bottle-cover bottle-{{n_bottles}}' src='/assets/img/bottle_cover.png' />
				        <div class="volume-inner" data-progress="{{volume_percent}}%" data-id={{id}}>
				            <div></div>
				        </div>        
				    </div>
				</div>
			</div>						
		</div>

</script>
<script type="text/template" id='bottle-holder-controls-template'>
		<div class='col-md-8 col-md-offset-2 hidden bh-control' data-bottle-holder-id={{id}}>
			<div class='panel panel-default'>
				<div class='panel-body'>
						<div class='row'>
							<div class='col-xs-2' style='margin:0px;padding:0px;'>
								<br/>
								<img src='/assets/img/bottle-icon.png' width='100%' />
							</div>
							<div class='col-xs-4 col-xs-offset-1' style='vertical-align:middle;'>
								<div class='row'>
									<span style='vertical-align:middle;'>									
										<strong>{{dispenser_index}}:</strong> {{wine_name}} <br /><br />
										{{wine.variety.name}} {{wine.vintage}}									
									</span>
								</div>
								<div class='row'>
								<br />
									<button type="button" class="btn btn-default btn-sm change-wine" data-bottle-holder-id={{id}} data-wine-id={{wine.id}}>
									  <span class="glyphicon glyphicon-transfer"></span> Cambiar vino
									</button>
								</div>
								<div class='row' style='margin-top: 40px;'>
									<strong>Quedan:</strong> <span class='rem-volume' data-bottle-holder-id={{id}}>{{remaining_volume}}</span> ml.
								</div>
								<div class='row' style='margin-top: 10px;'>
									<strong>Días en posición:</strong> <span class='open-days' data-bottle-holder-id={{id}}>{{open_days}}</span> días
								</div>
								<div class='row' style='margin-top: 10px;'>
									<strong>Última limpieza:</strong> <span class='last-clean' data-bottle-holder-id={{id}}>{{last_clean}}</span> días
								</div>
							</div>
						
							<div class='col-md-4 col-xs-8' style='padding-left: 5px; padding-right: 5px;'>
								<form class='form-inline servings-form' data-bottle-holder-id={{id}}>
									<div class='row' style='margin-top:20px;'>
										<div class='col-md-6 col-xs-6'>
											<label>ml</label><input type="number" name="serving_volume_low" class='form-control' value={{serving_volume_low}}>
										</div>
										<div class='col-md-6 col-xs-6'>
											<label>$</label><input type="number" name='serving_price_low' class='form-control' value={{serving_price_low}}>
										</div>
									</div>
									<div class='row' style='margin-top:20px;'>
										<div class='col-md-6 col-xs-6'>
											<label>ml</label><input type="number" name="serving_volume_med" class='form-control' value={{serving_volume_med}}>
										</div>
										<div class='col-md-6 col-xs-6'>
											<label>$</label><input type="number" name='serving_price_med' class='form-control' value={{serving_price_med}}>
										</div>
									</div>
									<div class='row' style='margin-top:20px;'>
										<div class='col-md-6 col-xs-6'>
											<label>ml</label><input type="number" name="serving_volume_high" class='form-control' value={{serving_volume_high}}>
										</div>
										<div class='col-md-6 col-xs-6'>
											<label>$</label><input type="number" name='serving_price_high' class='form-control' value={{serving_price_high}}>
										</div>
									</div>
									<div style='margin-top:20px;'>
										<div class="checkbox">
											<label>
												<input name='discounts' type="checkbox" data-check="{{discounts}}"> Aplicar descuento por categoría?</input>
											</label>
										</div>
									</div>
									<div class='row' style='margin-top:5px;'>
										<div class='col-md-12 col-xs-12'>
											<a class='btn btn-success btn-sm pull-right apply-servings' data-bottle-holder-id={{id}}><span class='glyphicon glyphicon-ok'></span> Aplicar</a>
										</div>
									</div>
								</form>
							</div>
						</div>						
				</div>
			</div>
			<div class='panel panel-default'>
				<div class="panel-body">
					<h4>Historial dispensado</h4>
					
				</div>
			</div>
		</div>
	
</script>
<script type="text/template" id='temperature-controls-template'>

	<div class='col-xs-12 col-sm-6 col-lg-6'>
		<div class='panel panel-default' style="margin-top: 15px;">
			<div class='panel-body' style='padding: 8px;'>
				<form class='temperature-form' data-temperature-control-id={{id}}>
						
					
						<div class='col-xs-2'>
							<img class='pull-left' src='/assets/img/temperature-icon.png' width=30 height=30 />
						</div>
							<div class="col-xs-4" style="padding-right: 0px;">							
								<input name='temperature' type="number" class='temperature-input form-control' value={{temperature}} data-temperature-control-id={{id}} style="">
								
							</div>
							<div class='col-xs-5' style="">
							<label style="padding-top: 5px;">ºC</label>
							<a class="update-temperature btn btn-success btn-sm pull-right" data-temperature-control-id={{id}}><span class='glyphicon glyphicon-ok'></span></a>
							</div>					
				
				</form>				
			</div>
		</div>
	</div>

</script>
<script type="text/template" id='wines-template'>
	<div class='row' style={{&style}}>
		<div class='col-md-12 panel-link select-wine' data-wine-id={{id}}
		style="border-bottom: 1px #999 solid; margin-top: 4px; margin-left: 4px;">							
			<p><strong>{{name}}</strong> - {{variety.name}} {{vintage}}</p>														
		</div>
	</div>
</script>
<script src='/assets/js/newine.js'></script>
<script src='/assets/js/dispensers_show.js'></script>
<div class='loading-header'>
	<div style="height: 30px; width: 30px; margin-left: 50%;" class='ajax-loader-1'></div>
</div>
<div class='container'>
	<div class='row'>
		<div class='col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 centered' style='padding-left: 40px;'>
			<h2> Dispenser <%= @dispenser.name %></h2>
			<span id='online_label' class='label <%= @dispenser.online ? 'label-success' : 'label-danger' %>'> <%= @dispenser.online ? 'online' : 'offline' %></span>
		</div>
		<div class='col-lg-3 col-md-3 col-sm-12  col-xs-12' style='vertical-align:middle; margin-top:20px;'>
			<p><a href="#" data-href='<%= url("/dispensers/#{@dispenser.id}/destroy")%>'class='btn btn-danger pull-right' id='detach-dispenser'>Desvincular Dispenser</a></p>
		</div>
		
		<div id='temperature-controls-container' class="col-xs-10 col-xs-offset-1 col-lg-offset-2 col-lg-6 col-md-offset-1 col-md-8 col-sm-offset-1 col-sm-10 centered">
		</div>
		<div class='col-md-2 ol-sm-offset-1 col-sm-10 col-xs-offset-1 col-md-offset-0 col-xs-10 centered' style='vertical-align:middle; margin-top:20px;'>
			<p><a class='btn btn-warning' id='shutdown-dispenser'>Apagar</a></p>
		</div>
		
	</div>
	<div class='row no-padding' style='height:4<%= @dispenser.n_bottles.to_s%>0px;'>
		<div class='<%= @dispenser.n_bottles == 4 ? 'dispenser-4b-row' : 'no-padding dispenser-8b-row' %>'>

			<div class='col-xs-12 no-padding'>
				<div class=''>
					<img src='/assets/img/<%= @dispenser.n_bottles == 4 ? 'dispenser4-cut.png' : 'dispenser8-cut.png' %>' class='<%= @dispenser.n_bottles == 4 ? 'dispenser-bg dispenser-4b-img' : 'dispenser-bg dispenser-8b-img' %>' >
					<div id='bottle-holders-container' class=' bottles-row dispenser-fg-<%= @dispenser.n_bottles.to_s %>'>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-12'>
			<div id='bottle-holder-controls-container'>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="change-wine-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Cambiar vino</h4>
				</div>
				<div class="modal-body">
					<div class='row'>
						<div class='col-md-12'>
							<div class='panel panel-default' style='overflow-y: scroll; height: 350px;'>
								<div id="wines-container">
					            	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class='modal-footer' style='margin-top: 0px;'>
					<a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
					<a class="btn btn-warning" id='leave-empty'>Vacío</a>
          			<button class='btn btn-primary' id='save-wine-change'>Guardar</button>
				</div>
			
		</div>
	</div>
</div>
